<p>JST</p>
<p>
  Name:<br>
  <input type="text" id="name" value='<%= name %>'><br>
</p>
<p>
  Age: <br>
  <input type="number" id="age" value='<%= age %>'>
</p>
<p>
  Rating: <br>
  <input type="textarea" id="rating" value='<%= rating %>'>
</p>
<p>
 <input class='edit' type="submit" value= "submit">
</p>