<p>
  Name:<br>
  <input type="text" id="name"><br>
</p>
<p>
  Age:<br>
  <input type="number" id="age"><br>
</p>
<p>
  Rating:<br>
  <input type="number" id="rating"><br>
</p>
<p>
 <input class='save' type="save" value= "submit">
</p>