<html>
<head>
  <title>
    Search
  </title>
<script src="jquery-3.2.1.js"></script>
</head>
<body>
  <fieldset>
  <legend>
    Search Bar
  </legend>
  <form>
     Search: <input list="shops" name="shops" id="search">
      <datalist id="shops">
        <option value="Internet Explorer">
<option value="Income">
      </datalist>
      <input type="submit">
    </form>
<div id="firstDiv"></div>
 </fieldset>
</body>
<script>
$( "#search" ).keypress(function() {
  console.log( "Handler for .keypress() called." );
  alert("u entered some text");
});
$( "#firstDiv" ).append("<p>Hello User</p>");
$.ajax({url:"search.txt", success: function(result){
       $("#firstDiv").append(result);
   }});
</script>
</html>